.col-md-3.col-sm-3.col-xs-6.listing-column
  .listing-thumbnail.thumbnail
    %a{href: detail_listings_path(listing.slug)}
      = image_tag listing.display_image.url(:medium)
    .caption{style: "min-height: 20px !important;"}
      %p.created{style: "margin-bottom: 0px;"}= time_ago_in_words((listing.updated_at || listing.created_at))
      .desc
        %h4{style: "text-align:left;float:left;white-space: nowrap;margin-bottom: 0px;margin-top: 5px;  "}
          = listing.company.try(:name)
        %h4{style: "text-align:right;float: right;padding-right: 10px;font-weight: normal;font-size: 14px;margin-top: 5px;margin-bottom: 0px;"}= (listing.size.name.split('/').first rescue '')
        %p.content{style: "margin-bottom: 0px;"}
          = listing.name
      %p.price{style: "margin-bottom: 0px;"}= number_to_currency listing.price
