= heading_section :h2, "Payments Settings"
= render layout: "side_bar" do
  = form_for current_person, url: settings_path, method: :put, html: { multipart: true } do |f|
    .form-group
      = f.label :paypal_id, "Paypal email address, This is where funds will be sent to when someone purchases one of your items."
      = f.text_field :paypal_id, class: "form-control input-lg"
    .form-group
      = f.submit "Save Information", class: "btn btn-primary site-btn"
  %hr
  %form#payment-form{:action => "/charge", :method => "post"}
    .form-group
    - if current_person.card.present?
      .card-info
        %label
          = "The seller fee will be billed to : #{current_person.card["brand"]} ending in #{current_person.card["last4"]}"
        .form-group
          %button#load.btn.btn-primary.site-btn.update-btn{:type => "button"} Update Information

    %div{class: "#{current_person.card.present? ? 'hide card-form' : 'card-form' }"}
      %label{:for => "card-element"}
        Credit / Debit card. This card will be charged the 3.5% seller fee only when one of your items have sold.
      #card-element
      #card-errors{:role => "alert"}
      .form-group
        %button#load.btn.btn-primary.site-btn{"data-loading-text" => "<i class='fa fa-spinner fa-spin '></i> Processing", :type => "submit"} Save Information
  .form-group
    %h2{:style => "text-align:center; font-weight: 200;"} Simple Pricing
    - subscription_type = current_person.subscription_type
    - subscription_created_at = current_person.subscription_created_at
    .columns
      %div.box1{style: "width:93%; height:270px; border:1px solid rgba(130, 130, 130, 0.7);text-align: center;border-radius: 10px;box-shadow: 3px 3px 33px -9px rgba(119, 119, 119, 0.46)"}
        %div.inside-box{style: "margin-top: 20px"}
          %span.text1{style: "font-size: 18px"} Commission Based
        %div.box-price{style: "margin-top:20%"}
          %span.text1{style: "font-weight: bold; font-size: 35px; color: #7d7876;"} 3.5%
          %p.text-2 of each sale
        %div.box1-btn
          -# %button.btn.btn-block.btn-inverse{style: "position:absolute; width:200px;bottom: -10px;left: 11%;color: white; background-color: black;"} Chose
          - if current_person.active_subscription?
            = link_to "Choose", charges_path(subscription_type: 1, plan: 'Default Plan'), {method: :post, class: 'button btn btn-block btn-inverse btn-bottom-shadow',style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 12%;color: white; background-color: #353535;font-size:15px;border-radius:5px;" } if DateTime.now <= "8-8-2017".to_date
          - else
            %span.button.btn.btn-block.btn-inverse.btn-bottom-shadow{style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 12%;color: white; background-color: #353535;font-size:15px;border-radius:5px;"} Current Plan
      -#%ul.price
      -#  %li.header Default
      -#  %li.grey
      -#  %li.grey{style: (subscription_type == 1 || !current_person.active_subscription?) ? "background-color:#4CAF50" : ''} 3.5% for each order
      -#  - unless current_person.active_subscription?
      -#    %li.grey
      -#      =# link_to "Select", new_charge_path(subscription_type: 1)
    .columns
      %div.box1{style: "width:93%; height:270px; border: 1px solid rgba(130, 130, 130, 0.7);text-align: center;border-radius: 10px;box-shadow: 3px 3px 33px -9px rgba(119, 119, 119, 0.46)"}
        %div.inside-box{style: "margin-top: 20px"}
          .btn-group
            %button.btn.btn-info#monthly-pay-btn{:href => "javascript:;",class: 'active', style: "border-radius: 5px;" } Paid Monthly
            %button.btn#annual-pay-btn{:href => 'javascript:;', style: "border-radius:5px;"} Paid Annually
          %div.box-price#monthly-pay{:style => "margin-top:20%"}
            %span.text1{style: "font-weight: bold; font-size: 35px; color: #7d7876;"} $2
            %span{style: 'font-weight:400; font-size: 15px; color: #878483;'} /mo
            %p.text-2 Paid Monthly
          %div.box-price#annual-pay{class: 'hidden', style: "margin-top:20%"}
            %span.text1{style: "font-weight: bold; font-size: 35px; color: #7d7876;"} $9.99
            %span{style: 'font-weight:400; font-size: 15px; color: #878483;'} /year
            %p.text-2 Pay Annually
        %div.box1-btn
          -#%button.{style: "position:absolute; width:200px;bottom: -10px;left: 60%;color: white; background-color: black;"}
          - unless current_person.subscription_type == 3 
            = link_to "Choose", charges_path(subscription_type: 3, plan: 'Yearly Plan'), {method: :post, id: 'annual-plan-link', class: 'hidden button btn btn-block btn-pr btn-bottom-shadow',style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 60%;color: white; background-color: #353535;font-size:15px;border-radius:5px;"} if DateTime.now <= "8-8-2017".to_date
          - else
            %span.hidden.button.btn.btn-block.btn-pr#annual-plan-link{style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 60%;color: white; background-color: #353535;font-size:15px;border-radius:5px;"} Current Plan
          - unless current_person.subscription_type == 2
            = link_to "Choose", charges_path(subscription_type: 2, plan: 'Monthly Plan'), {method: :post, id: 'monthly-plan-link', class: 'button btn btn-block btn-pr btn-bottom-shadow',style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 60%;color: white; background-color: #353535;font-size:15px;border-radius:5px"} if DateTime.now <= "8-8-2017".to_date
          - else
            %span.button.btn.btn-block.btn-pr#monthly-plan-link{style: "position:absolute; width:25%;height:40px;bottom: -10px;left: 60%;color: white; background-color: #353535;font-size:15px;border-radius:5px;"} Current Plan
      -#%ul.price
      -#  %li.header Pro
      -#  %li.grey{style: subscription_type == 2 && current_person.active_subscription? ? "background-color:#4CAF50" : ''}
      -#    $2 p/m
      -#    - unless current_person.active_subscription?
      -#      = link_to "Pay ($2)", new_charge_path(subscription_type: 2, amount: 2, plan: 'Monthly Plan'), class: 'btn btn-primary'
      -#
      -#  %li.grey{style: subscription_type == 3 && current_person.active_subscription? ? "background-color:#4CAF50" : ''}
      -#    $9.99 Annual
      -#    - unless current_person.active_subscription?
      -#      = link_to "Pay ($9.99)", new_charge_path(subscription_type: 3, amount: 9.99, plan: 'Annual Plan'), class: 'btn btn-primary'
      -#  %li.grey
      -#    - if subscription_type == 3 && current_person.active_subscription?
      -#      %br
      -#      = "#{((subscription_created_at + 1.year) - DateTime.now).to_i/ 1.day} days remaining "
      -#    - if subscription_type == 2 && current_person.active_subscription?
      -#      %br
      -#      = "#{((subscription_created_at + 1.month) - DateTime.now).to_i/ 1.day} days remaining "


:javascript
  $(document).ready( function() {

  $('#monthly-pay-btn').click(function(){
    $('#monthly-pay-btn').addClass('active btn-info');
    $('#monthly-pay').removeClass('hidden');
    $('#annual-pay-btn').removeClass('active btn-info');
    $('#annual-pay').addClass('hidden');
    $('#annual-plan-link').addClass('hidden');
    $('#monthly-plan-link').removeClass('hidden');
  });
  $('#annual-pay-btn').click(function(){
    $('#monthly-pay-btn').removeClass('active btn-info');
    $('#monthly-pay').addClass('hidden');
    $('#annual-pay-btn').addClass('active btn-info');
    $('#annual-pay').removeClass('hidden');
    $('#annual-plan-link').removeClass('hidden');
    $('#monthly-plan-link').addClass('hidden');
  });

    // Create a Stripe client
    var stripe = Stripe('pk_live_2wcgrWtCDfdwPWVp86AVtPaW');
    // pk_test_FjE0tNXjjuewmORlrYp3SNQt
    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '24px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Handle form submission
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      $('#load').button('loading');
      event.preventDefault();
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
          $('#load').button('reset');
        } else {
          var saveData = $.ajax({
            type: 'POST',
            url: "/settings/update_card",
            data: { card_token: result.token },
            success: function(resultData) {
              $('#load').button('reset');
              location.reload();
            }
          });
          saveData.error(function() {
            alert("Something went wrong, Please try again");
          });
        }
      });
    });

    $('.update-btn').on('click', function(event){
      $('.card-form').removeClass('hide')
      $(this).hide();
    })
  });
