!!!
%html
  %head
    = render partial: "layouts/components/head"
  %body{ class: [view_controller, view_action].join(" ") }
    = include_gon

    .main-container
      - if mobile_device?
        = render partial: "layouts/navbar/device_navigation"
        = yield(:collapsed_menus) if content_for(:collapsed_menus)
      - else
        = render partial: "layouts/navbar/top_navigation"
        = render partial: "layouts/navbar/bottom_navigation"

      - if @banner == true
        %div.row.banner-row
          .col-md-12.col-sm-12.col-xs-12
            .top-banner
              .row
                .show-on-small-screen
                  %h1
                    BUY AND SELL
                  %h2
                    Browse our selection of internationally-sourced inventory, sell your clothing, and more.
                .hide-on-small-screen
                  .col-md-4.col-sm-4
                    %h1
                      BROWSE AND BUY
                    %h2
                      Browse our selection of internationally-sourced clothing sold by our global community
                  .col-md-4.col-sm-4
                    %h1
                      SELL YOUR ITEMS
                    %h2
                      Selling on our marketplace is easy, cost-efficient, and saves time. It’s free to list items, and we only take a small fee of 3.5% if your item sells.
                  .col-md-4.col-sm-4
                    %h1
                      FIND YOUR PIECE
                    %h2
                      Our inventory is uploaded by thousands of sellers worldwide. If you’re looking for a piece at a lower price, or that’s sold out everwhere else, you may be able to find it here.
      = yield(:heading_section) #Top Heading Section
      = render 'layouts/components/messages' unless @landing_banner
      %div.row.banner-row
        .col-md-12.col-sm-12.col-xs-12
          %main
            = yield

      = render partial: "layouts/components/footer"
