!!!
%html
  %head
    = render partial: "layouts/components/head"
  %body{ class: [view_controller, view_action].join(" ") }
    = include_gon
    .main-container{style: "margin: 0 !important;"}
      .top-banner{style: "margin: 0 !important;padding: 320px 0px 340px 0px !important;background-position-y: 0px;background-image: linear-gradient(rgba(0, 0, 0, 100), rgba(0, 0, 0, 0.7)), url('/assets/landing-beta.png')"}
        =image_tag "banner-logo.png",width: '200px',height: '40px'
        .buttons{style: 'margin-top: 40px'}
          %ul.list-inline
            %li= link_to "Login", new_person_session_path, class: "btn btn-default btn-md banner-btn",style: 'font-size:15px;'
            %li= link_to "Sign Up", new_person_registration_path, class: "btn btn-default btn-md banner-btn",style: 'font-size:15px;'
      = render partial: "layouts/components/footer"
