!!!
%html
  %head
    = render partial: "layouts/components/head"
  %body{ class: [view_controller, view_action].join(" ") }
    = include_gon
    .main-container{style: "margin: 0 !important;"}
      .top-banner{style: "vertical-align: middle;margin: 0 !important;padding: 320px 0px 340px 0px !important;background-position-y: 0px;background-image: linear-gradient(rgba(0, 0, 0, 100), rgba(0, 0, 0, 0.7)), url('/assets/landing-beta.png')"}
        =image_tag "banner-logo.png",width: '200px',height: '40px',style: "text-align:right;"
        %span{style: 'border-left:1px solid #FFF;margin-right: 15px'} |
        =link_to image_tag( 'about.png',width: '60px',height: '10px'), about_us_path,style: "text-align:right;"
        .buttons{style: 'margin-top: 20px'}
          %ul.list-inline
            %li= link_to "Login", new_person_session_path, class: "btn btn-default btn-md banner-btn",style: 'font-size:15px;'
            %li= link_to "Sign Up", new_person_registration_path, class: "btn btn-default btn-md banner-btn",style: 'font-size:15px;'
      = render partial: "layouts/components/footer"
